:root {
  --main-color: rgb(245, 245, 197);;
  --second-color: rgb(230, 165, 80);
  --third-color: rgb(49, 49, 126);
  --fourth-color: rgb(76, 94, 173);
}

body {
  background-color: var(--main-color);
  text-align: center;
  font-family: 'Lora', serif;
  color: var(--third-color);
  margin: 0px;
  padding: 0px;
  margin-top: 90px;
  height: 100%;
  width: 100%;
}


img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 20%;
}

h1 {
  font-size: 43px;
  color: var(--third-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 40px 10%;
  margin-bottom: 105px;
}

.nav-container, .footer-container {
  width: 100%;
  position: fixed;
  border: none none solid none;
  background-color: var(--second-color);
  color: var(--main-color);
  vertical-align: center;
  margin: 0px;
  padding: 0px;
}

.nav-container {
  top: 0;
}

ul {
  display: grid;
  grid-template-columns: 75% 10% 10% 5%;
  list-style: none;
  margin: 10px;
  padding: 0 4px;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

p a:hover {
  background-color: var(--second-color);
  padding: 0 2px;
  border-radius: 5px;
  color: var(--main-color);
}

nav ul li, footer ul li {
  font-weight: bold;
  font-size: 18px;
  font-weight: bolder;
}

nav ul li:not(.title) {
  text-align: right;
}

nav ul li:first-child {
  text-align: left;
  color: var(--third-color);
}

.nav-container ul
.nav-container li a, .footer-container li a {
  color: var(--main-color);
  font-size: 14px;
}

.nav-container li a:hover, .footer-container li a:hover {
  padding: 5px;
  background-color: var(--third-color);
  color: var(--second-color);
  border-radius: 5%;
}

.about-container, .visual-container {
  text-align: left;
  width: 80%;
}

.about-container h2, .visual-container h2 {
  font-size: 21px;
  color: var(--second-color);
}

.about-container p {
  font-size: 16px;
  letter-spacing: .04em;
  padding: 0 25px;
  line-height: 1.6;
}

.visual-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 27px;
  line-height: 1.2em;
  letter-spacing: .2em;
  white-space: nowrap;
  text-align: center;
  color: var(--third-color);
  font-weight: bold;
}

.visual-container ul li {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: var(--third-color);
  border-radius: 5%;
}

.visual-container ul li a {
  color: var(--main-color);
}

.visual-container ul li:hover {
  padding: 10px 20px;
  border-radius: 5%;
  background-color:  var(--second-color);
}

.footer-container ul {
  display: grid;
  padding: 0px 40%;
  grid-template-columns: 1fr 1fr; 
}

.footer-container ul li a {
  color: var(--third-color);
  font-size: 14.5px;
}


.footer-container {
  bottom: 0px;
  position: relative;
  padding: .3px 0px;
  width: 100%;
  height: 105px;
}

.footer-container p {
  font-size: 16px;
}